.main-container {
    display: flex;
    flex-direction: column;
     
    align-items: center;
    height: 90vh;
  }

  .content {
    display: flex;
    flex-grow: 1;
    padding: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    height: 60vh;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  
  .row {
    margin: 10px;
  }
  
  .card {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 80%; /* Ajusta el ancho de la tarjeta según tu diseño */
    height: 70%;
    /* border: 1px solid #ccc */; 
    border-radius: 10px;
    overflow: hidden;
    gap: 30px;
  }
  
  .card-image {
    flex: 1;
  }
  
  .card-image img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    
  }

  .example-image {
    /* cover*/
    width: 100%;
    height: 90%;
    object-fit: cover;

    

  }
  
  .card-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 90%;
  }
  
  .button {
    margin-bottom: 80px;
    margin: 0 ;

  }

  
  .button-link {
    background-color: #151c41;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    transition: background-color 0.3s;
  }
  
  .button-link:hover {
    background-color: #c999c7;
    color: white;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 0;
    font-size: 30px; /* Tamaño de fuente más grande */
    font-weight: bold; /* Hacer el texto más grueso */
    transition: color 0.3s; /* Transición de color al pasar el mouse */
    text-decoration: underline; /* Agregar un subrayado */
    color :#151c41 !important; /* Cambio de color */
}

.title h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  }
  
  .title:hover {
    color: #c999c7  !important; /* Cambio de color al pasar el mouse */
  }
  