.navbar {
    background-color: #151c41!important; /* Cambia el color de fondo de la barra de navegación */
    max-width:1280px  !important ;
  }
  
  .navbar-title {
    flex-grow: 1;
    color: white; /* Cambia el color del texto del título */
  }
  
  .navbar-button {
    color: white !important; /* Cambia el color del texto de los botones */
  }
  